body {background-image: url("../images/nick-fewings-PHKCE9U-Vk4-unsplash.jpg");}

#note-input {
background-color:lightYellow;


}

h1 {
padding-left: 125px;

}

.d-flex {background-color:lightYellow;}